html, body {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
	margin: 0;
  background-color: black;
}
.content-container {
	background-image: url("Cupid-3-174c057e.JPG");
	background-position: center;
	background-position-y: top;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
  box-shadow: inset 0 0 20px 20px rgba(0, 0, 0, 0.5);
}
ul {
	list-style-type: none;
  margin: 0;
}
li {
	float: right;
	margin: 2rem 3rem 0 0;
}
a {
	color: white;
	text-decoration: none;
}
i {
	transition: transform 250ms;
}
i:hover {
	transform: translateY(-10px);
}
i, h1, .button {
	text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}
.main-content-backdrop {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  color: white;
  border-radius: 0 5px 5px 0;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}
.main-content {
  padding: 2rem;
  letter-spacing: 0.15rem;
}
.brand {
	color: white;
	font-size: 4rem;
	font-weight: 400;
	margin: 0;
}
.subtitle {
  color: rgb(157, 160, 155);
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
}
.button {
  display: inline-block;
	font-size: 1.2rem;
	border: 0.5px solid rgba(255, 255, 255, 0.75);
	padding: 0.5rem;
  margin: 1rem;
	transition: 0.25s;
}
.button:hover {
  background-color: black;
}

.fade-in {
  opacity: 100%;
  animation-name: fade-in;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}
span{
  display: inline-block;
  opacity: 0;
  transform: translateY(-100%);
  transition: all 0.4s ease-in-out
}
.fade{
 opacity: 1;
 transform: translateY(0);
}
@-moz-keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 100%;}
}
@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 100%;}
}

