html, body {
	font-family: 'Raleway', sans-serif;
	letter-spacing: 2px;
	margin: 0;
}
.content-container {
	background-image: url("Cupid-3-174c057e.JPG");
	background-position: center;
	background-position-y: top;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
ul {
	list-style-type: none;
	margin: 1rem;
}
li {
	float: right;
	margin: 1rem;
}
a {
	color: white;
	text-decoration: none;
}
i {
	transition: transform 250ms;
}
i:hover {
	transform: translateY(-10px);
}
i, h1, .button {
	text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
}
.main-content {
	text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
h1 {
	font-size: 4rem;
	font-weight: 600;
}
.button {
	font-size: 1.2rem;
	border: 1px solid white;
	padding: 0.5rem;
	transition: transform 500ms;
}
.button:hover {
	color: rgb(165, 48, 48);
	border: 1px solid rgb(165, 48, 48);
}

